<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List tasks</title>
</head>
<body>


<!--<div id="task-list">-->
<!--    <div th:text="${task.getName()}">-->
<!--        <a style="color: blue" href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.name}"></a>-->
<!--        &lt;!&ndash;            <a th:href="@{/tasks/{id}(id=${task.getId()})}" th:text="${task.getName()}">task</a>&ndash;&gt;-->
<!--        <p th:text="${task.getId()}">VALUE</p>-->
<!--        <form th:method="GET" th:action="@{/tasks/{id}(id=${task.getId()})}">-->
<!--            <input style="color: orange" type="submit" value="Delete"/>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>