<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <File name="File" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="EXCEPTION_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="File1" fileName="logs/errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="ABSENT_STATION_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="File2" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="STATION_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </appenders>

    <loggers>
        <Root level="warn">
            <AppenderRef ref="File"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
        </Root>
    </loggers>

</configuration>
